<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Data Table View</title>
</head>
<body>

<table border="2">
    <tr>
        <th>PLANNED_STOP</th>
        <th>LINE REJECTION</th>
        <th>MOULD CHANGE TIME (MIN)</th>
        <th>MATERIAL KGS</th>
        <th>ACTUAL_START</th>
        <th>MACHINE TYPE</th>
        <th>ACTUAL QTY</th>
        <th>PACK/HR</th>
        <th>ACTUAL_STOP</th>
        <th>DIMENTION</th>
        <th>START UP TIME(MIN)</th>
        <th>STATUS</th>
        <th>PART NAME</th>
        <th>DA_TAP</th>
        <th>PRD/HR</th>
        <th>MACHINE</th>
        <th>TIME(MIN) - N</th>
        <th>START UP SCRAP(KG)</th>
        <th>PART NUMBER</th>
        <th>CYCLE TIME</th>
        <th>MATERIAL</th>
        <th>MODEL</th>
        <th>NEW QTY</th>
        <th>ORDER NUMBER (RIGHT)</th>
        <th>PACK QTY</th>
        <th>PLAN QTY</th>
        <th>COLOR</th>
        <th>MACHINE</th>
        <th>MACHINE STATUS</th>
        <th>PRD/SHIFT</th>
        <th>PHONE</th>
        <th>CHILD_PARTS</th>
        <th>TAB_TAPE</th>
        <th>DATE</th>
        <th>PLANNED_START </th>
        <th>ORDER NO (LEFT)</th>
        <th>PACK MODE</th>
        <th>PRIORITY</th>
        <th>TIME</th>
        <th>ACTION</th>
        <th>LINE INCHARGE</th>
        <th>MACHINE INCHARGE</th>
        <th>QC INCHARGE</th>
    </tr>
    {% for entry in mydata %}

    <tr>
      <td>{{entry['PLANNED_STOP']}}</td>
      <td>{{entry['LINE REJECTION']}}</td>
      <td>{{entry['MOULD CHANGE TIME (MIN)']}}</td>
      <td>{{entry['MATERIAL KGS']}}</td>
      <td>{{entry['ACTUAL_START']}}</td>
      <td>{{entry['MACHINE TIME']}}</td>
      <td>{{entry['ACTUAL QTY']}}</td>
      <td>{{entry['PACK/HR']}}</td>
      <td>{{entry['ACTUAL_STOP']}}</td>
      <td>{{entry['DIMENTION']}}</td>
      <td>{{entry['START UP TIME (MIN)']}}</td>
      <td>{{entry['STATUS']}}</td>
      <td>{{entry['PART NAME']}}</td>
      <td>{{entry['DA_TAPE']}}</td>
      <td>{{entry['PRD/HR']}}</td>
      <td>{{entry['MACHINE']}}</td>
      <td>{{entry['TIME (MINS) - N']}}</td>
      <td>{{entry['START UP SCRAP(KG)']}}</td>
      <td>{{entry['PART NUMBER']}}</td>
      <td>{{entry['CYCLE TIME']}}</td>
      <td>{{entry['MATERIAL']}}</td>
      <td>{{entry['MODEL']}}</td>
      <td>{{entry['NEW QTY']}}</td>
      <td>{{entry['ORDER NUMBER (RIGHT)']}}</td>
      <td>{{entry['PACK QTY']}}</td>
      <td>{{entry['PLAN QTY']}}</td>
      <td>{{entry['COLOR']}}</td>
      <td>{{entry['MACHINE STATUS']}}</td>
      <td>{{entry['PRD/SHIFT']}}</td>
      <td>{{entry['child_parts']}}</td>
      <td>{{entry['TAB_TAP']}}</td>
      <td>{{entry['DATE']}}</td>
      <td>{{entry['PLANNED_START']}}</td>
      <td>{{entry['ORDER NUMBER (LEFT)']}}</td>
      <td>{{entry['PACK MODE']}}</td>
      <td>{{entry['PRIORITY']}}</td>
      <td>{{entry['TIME']}}</td>
      <td>{{entry['ACTION']}}</td>
      <td>{{entry['LINE INCHARGE']}}</td>
      <td>{{entry['MACHINE INCHARGE']}}</td>
      <td>{{entry['QC INCHARGE']}}</td>

    </tr>
  {% endfor %}
</table>

</body>
</html>